include config.jade

doctype
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='UTF-8')
    block title
    
    link(rel='stylesheet', href='assets/libs/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='assets/libs/bootstrap-select/dist/css/bootstrap-select.css')
    link(rel='stylesheet', href='assets/libs/highlightjs/styles/default.css')
    link(rel='stylesheet', href='assets/css/style.css')

    - if(iconFont.cssExtraName) {
      link(rel='stylesheet', href='assets/css/#{iconFont.cssExtraName}.css')
    - }
    link(rel='stylesheet', href='assets/css/#{iconFont.cssName}.css')
    link(rel='stylesheet', href='assets/css/helper.css')

  body
    
    block header

    block showcase
    
    block hero
     
    block content

    block download

    block footer

    // Libs scripts
    script(type='text/javascript', src='assets/libs/jquery/dist/jquery.js')
    script(type='text/javascript', src='assets/libs/bootstrap/dist/js/bootstrap.js')
    script(type='text/javascript', src='assets/libs/bootstrap-select/dist/js/bootstrap-select.js')
    script(type='text/javascript', src='assets/libs/highlightjs/highlight.pack.js')
    script(type='text/javascript', src='assets/js/fontsmoothie.min.js')
    
    block scripts





